*{
    margin: 0;
    box-sizing: border-box;
   
}
body {
  min-height: 100vh;
  background: linear-gradient(to right, #fbc2eb, #a6c1ee); /* ชมพูฟ้าหวานๆ */
}

span{
 display: flex;
 justify-content: center; /* แนวนอน */
 align-items: center;
 margin-top: 20px;
 margin-bottom: 20px;
}
img{
    height: 360px;
}
.button{
 display: flex;
 justify-content: center; /* แนวนอน */
 align-items: center;    
 position: relative;
 width: auto;
 
 
}
button{
    margin: 0 60px;
    color: white;
    height: 40px;
    width: 60px;
}

#btn1{
    background-color: green;
    border: none;
    height: 40px;
    width: 60px;
    position: relative;
    
    /* ให้อยู่บน */
}
#btn2{
    background-color: red;
    border: none;
    position: absolute;
    left: 52%;
    top: 50%;
    transform: translate(-50%, -50%);
     /* ทำให้ย้ายได้ภายใน .button */
}
h1{
    text-align: center;
    margin-bottom: 30px;
}

.audio{
    
    margin-bottom: 6px;
    display: flex;
    justify-content: center;
    align-items: center;
}